dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.lib/
null/
.idea/
**/.history
**/.cache
**/.bsp
**/.dotty-ide-artifact
**/.dotty-ide.json
**/.DS_Store
**/.idea
.vscode/
**/__pycache__/
**/.ipynb_checkpoints/
cps824_assignment3/src/results/q3_linear/events.out.tfevents.*
cps824_assignment3/src/results/q4_nature/events.out.tfevents.*
